* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .layout-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .layout-content {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 60px auto;
    grid-template-areas: 
      "navbar navbar navbar"
      "sidebar-left main-content sidebar-right";
    max-width: 1280px;
    width: 100%;
    height: 100vh;
  }
  
  .navbar {
    grid-area: navbar;
   

    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1280px;
  }
  
  .sidebar-left {
    grid-area: sidebar-left;
    
   
  
    position: fixed;
    top: 60px;
    left: calc(50% - 640px);
    
    width: 300px;
  
  }
  
  .sidebar-right {
    grid-area: sidebar-right;
   
  

    position: fixed;
    top: 60px;
    right: calc(50% - 640px);

    width: 300px;
   
  }
  
  .main-content {
    grid-area: main-content;
    padding: 3rem;
    overflow-y: auto;
    height: calc(100vh - 60px);
    background-color: #f9f9f9;
    max-width: 680px; /* Since each sidebar is now 300px, main-content takes the remaining 680px */
  
  }
  